<section class="container">
  <h1>Contact</h1>
  <div class="tile" style="padding:20px">
    <form name="contact" method="POST" data-netlify="true">
      <input type="hidden" name="form-name" value="contact">
      <p><label>Your Name<br><input name="name" required></label></p>
      <p><label>Your Email<br><input type="email" name="email" required></label></p>
      <p><label>Message<br><textarea name="message" rows="5" required></textarea></label></p>
      <p><button class="navlink" type="submit">Send</button></p>
    </form>
  </div>
</section>